html, body {
  height: 100%;
  background-color: rgb(238, 238, 238);
}

body {
  min-height: 100%;
}

nav {
  height: 20px;
}
.selected {
  opacity: 0.3;
}

.card {
  display: inline;
}

#start-page {
  position: relative;
}

#start-text{
  position: absolute;
  top: 200px;
  margin: 0 50px;
}

#start-buttons {
  position: absolute;
  top: 300px;
  text-align: center;
  width: 100%;
}

.stored-images {
  display: none;
}

#gameboard-first {
  height: 100%
}

.stretch {
  animation: 
    stretch
    1.5s
    ease-out
    0s
    alternate
    infinite
    none
    running;
}
@keyframes stretch {
  30% {
    transform: scale(1)
  }
}

.fade-in {
  animation: 
    stretch
    2s
    ease-out
    0s
    alternate
    none
    running;
}
@keyframes stretch {
  0% {
    transform: scale(.3)
  }
}