html, body {
  height: 100%;
  background-color: rgb(238, 238, 238);
}

body {
  min-height: 100%;
  font-family: 'Lato', sans-serif;
}

#container{
  text-align: center
}

h1{
  text-align: center;
  margin-bottom: 10px;
  color: #303030;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 20px;
  margin: 3px 100px;
  color: #303030;
  font-size: 20px
}
.selected {
  opacity: 0.3;
}

.card {
  margin: 2px 4px; 
}

#start-page {
  position: relative;
}

#start-text{
  position: absolute;
  top: 80px;
  margin: 0px 350px;
  font-size: 18px;
  line-height: 30px;
}

button {
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 16px;
  color: #525252;
}
#start-buttons {
  position: absolute;
  top: 400px;
  text-align: center;
  width: 100%;
}

.stretch {
  animation: 
    stretch
    2s
    ease-out
    0s
    alternate
    infinite
    none
    running;
}
/* @keyframes stretch {
  50% {
    transform: scale(.5)
  }
} */

.fade-in {
  animation: 
    stretch
    2s
    ease-out
    0s
    alternate
    none
    running;
}
@keyframes stretch {
  0% {
    transform: scale(.3)
  }
}

