html, body {
  height: 100%;
  background-color: rgb(238, 238, 238);
}

body {
  min-height: 100%;
  font-family: 'Unica One', cursive;
}

#container{
  text-align: center
}

h1{
  text-align: center;
  margin-bottom: 10px;
  color: #303030;
  font-size: 45px;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin: 3px 125px;
  color: #303030;
  font-size: 20px
}

.selected {
  opacity: 0.3;
}

.card {
  margin: 2px 4px; 
}

#start-page {
  position: relative;
}

#start-text{
  position: absolute;
  top: 40px;
  margin: 0px 350px;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1px;
}

button {
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 22px;
  color: #292929;
  font-family: 'Unica One', cursive;
  margin: 0 5px;
}

#start-buttons {
  position: absolute;
  top: 400px;
  text-align: center;
  width: 100%;
}

.stretch {
  animation: 
    stretch
    4s
    ease-out
    0s
    alternate
    infinite
    none
    running;
}

.fade-in {
  animation: 
    stretch
    5s
    ease-out
    0s
    alternate
    infinite
    none
    running;
}
@keyframes stretch {
  0% {
    transform: scale(.1)
  }
}

#zzz {
  width: 178px;
  position: absolute;
  right: 325px;
  bottom: 724px;
}

#zzzzz {
  width: 178px;
  position: absolute;
  left: 400px;
  bottom: 724px;
}

#drake {
  width: 135px;
  position: absolute;
  right: 450px;
  bottom: 665px;
}
